<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>UPC INTERACTIVE MAP</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/panzoom.js"></script> 
    <script src="js/popup.js"></script>
    <link rel="stylesheet" href="css/popup/floorplan.css">
    <link rel="stylesheet" href="css/popup/style.css">
    <link rel="stylesheet" href="css/map/reset.css">
    <link rel="stylesheet" href="css/map/style.css">
    <link rel="stylesheet" type="text/css" href="css/sidebar/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/sidebar/component.css" /> 
  </head>

  <body>
    <section id="st-container" style="height:600px;" ng-app="">
      <div class="containerz">
      <div id="panzoom" class="distribution-map" style="width:964px; height:600px"> 
       <img id = "image1" src="images/map.png" width="1000" height="625">
          <div class="cd-popup-trigger" style="min-height: 50px; min-width: 50px">
            <button class="map-point" style="top:7%;left:32.65%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='UNDERGRADUATE BUILDING'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:9.5%;left:43%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='VOLLEYBALL COURT'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:30%;left:31.15%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='BASKETBALL COURT'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:35%;left:26.43%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='MANAGEMENT'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:55%;left:20.7%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='DORM'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:70.5%;left:19.5%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='GUEST HOUSE'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:52%;left:26%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='CLINIC'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:60%;left:29%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='CANTEEN'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:47.6%;left:35.8%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='ADMINISTRATION BUILDING'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:45.8%;left:42.6%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='OBLATION SQUARE'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:78%;left:25.72%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='LIBRARY'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:76.5%;left:38%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='ADMINISTRATION FIELD'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:49%;left:56%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='CEBU CULTURAL CENTER'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:22%;left:67.8%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='ARTS and SCIENCES BUILDING'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:43%;left:75.8%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='ARTS  and  SCIENCES FIELD'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>
          </div>
      </div>

      <div class="cd-popup" style="position: fixed;left: 0;top: 0;">
        <div class="cd-popup-container">
          <h2 ng-bind="Title"></h2>
          <p>Description:</p>
          <p>lorem ipsum brocolli bacon chewie bacca luke sky walker darth vader alde rann milee nium falcon</p>
          <li style="position: fixed; bottom:10%; ">
            <button id = "flrpln" style="width: 100%">Floor Plans</button>
            <button style="width: 100%" href="https://www.youtube.com/watch?v=CcNo07Xp8aQ">Videos</button>
            <button style="width: 100%">Photos</button>
          </li>
          <a href="#0" class="cd-popup-close img-replace"></a>
        </div> <!-- cd-popup-container -->
      </div>

      <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>
          <h2>Floor Plan</h2>
        </div>

        <div class="modal-body">
          <!-- 
              Insert floorplan here
           -->
        </div>

        <div class="modal-footer">
        
        </div>
      </div>

      </div>

    </section>
    

    <div class="margin-div">
      <button class="button button5" onclick=newDoc()>H O M E</button>
      <button class="button button1">R E S E T</button>
    </div>

    <script>

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("flrpln");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        function newDoc() {
            window.location.assign("/")
        }

        (function() {
          $('.distribution-map button').on('mousedown touchstart', function( e ) {
              e.stopImmediatePropagation();
          });

          var $section = $('#st-container');
          var $panzoom = $section.find('.containerz').panzoom({
             $reset: $(".button1"),
          });
          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            $panzoom.panzoom('zoom', zoomOut, {
              animate: false,
              panOnlyWhenZoomed: true,
              focal: e
            });
           
          });



          $('.distribution-map').on('mousedown touchstart', function( e ) {
              e.originalEvent();
          });

          })();

      </script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
