<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>UPC INTERACTIVE MAP</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/panzoom.js"></script> 
    <script src="js/popup.js"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/floorplans_proto.css">
    <link rel="stylesheet" href="css/map/reset.css">
    <link rel="stylesheet" href="css/popup/style.css">
    <link rel="stylesheet" href="css/map/style.css">
    <link rel="stylesheet" href="css/popup/floorplan.css">
    <link rel="stylesheet" href="css/popup/style.css">
    <link rel="stylesheet" type="text/css" href="css/sidebar/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/sidebar/component.css" /> 
    <style>
    .floorplanSlideshow {display:none}
    </style>
  </head>


  <body>
    <section id="st-container" ng-app="">
      <div class="containerz">
      <div id="panzoom" class="distribution-map" style="width:964px; height:100%"> 

       <img id = "image1" src="images/map.png" width="1000" height=>
          <div class="cd-popup-trigger" >
            <button class="map-point" style="top:7%;left:32.65%; height:1px, width:1px" data-effect="st-effect-1" 
            ng-click="photo = 'images/floorplans/L1.png';
            Title='UNDERGRADUATE BUILDING';
            description='The Undergraduate Building serves as the main building of the Arts and Humanities Cluster and Sciences Cluster. It is located at the western side of the UP Cebu Lahug Campus, near the basketball and volleyball courts.'" >
            <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:9.5%;left:43%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='VOLLEYBALL COURT'; description='The Volleyball Court is located at the western side of the UP Cebu Lahug Campus, near the Undergraduate Building and the university gate. It is open to every UP Cebu student who wished to play and/or practice volleyball.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:30%;left:31.15%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='BASKETBALL COURT'; description='The Basketball Court is located at the western side of the UP Cebu Lahug Campus, near the Undergraduate Building. and the Management Bldg. It is open to every UP Cebu student who wished to play and/or practice basketball.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:35%;left:26.43%; height:1px, width:1px" data-effect="st-effect-1" 
            ng-click="photo = 'images/floorplans/L1.png';; 
            Title='MANAGEMENT BUILDING';
            description='The Management Building serves as the main building for Business Management Cluster. It is located at the western side of the UP Cebu Lahug Campus, beside the University Clinic.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:55%;left:20.7%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='DORMITORY'; description='The UP Cebu Dormitory is located at the western side of the UP Cebu Lahug Campus, near the Canteen and the Clinic. It is the home of UP Cebu students who are temporarily staying for the school year.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:70.5%;left:19.5%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='GUEST HOUSE'; description='  The guest house is located at the western side of the UP Cebu Campus, near the library. A lodging for the accommodation of university’s guests and visitors.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:52%;left:26%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='CLINIC'; description='The UP Cebu Clinic is located at the western side of the UP Cebu Lahug Campus, near the Management Building and the Clinic. It provides medical services including dental and physical check-ups.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:60%;left:29%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='CANTEEN'; description='The UP Cebu Canteen is located at the western side of the UP Cebu Lahug Campus, near the Dorm and the Clinic. It provides food services and school supplies to students.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:47.6%;left:35.8%; height:1px, width:1px" data-effect="st-effect-1" 
            ng-click="photo= 'images/floorplans/ADMIN/ADMIN 1ST FLR.png';
            Title='ADMINISTRATION BUILDING'; 
            description='The Administration Building is located at the western side of the UP Cebu Lahug Campus, directly behind the Oblation Square. The building is where most of the university’s offices are currently located including the Office of the Dean. Other offices within the Admin Building that provides students’ services: Office of the University Registrar, Cash Office, Accounting Offices, Office of Student Affairs, Interactive Learning Center, and etc.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:45.8%;left:42.6%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='OBLATION SQUARE'; description='The Oblation Square is located at the western side of the UP Cebu Lahug Campus, in front of the Administration Building. The square is where the Oblation Statue is situated which serves as the symbol of the University of the Philippines. It depicts a man facing upward with arms outstretched, symbolizing selfless offering of oneself to his country.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:78%;left:25.72%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='LIBRARY'; description='
              The University of the Philippines Cebu Library Services is to provide a cutting-edge learning education to our students, faculty, REPS, and staff by having addtional service - a service that blends in with our changing generation and evolving need of academic information.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:76.5%;left:38%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='ADMINISTRATION FIELD'; description='The Administration Field is located at the western side of the UP Cebu Lahug Campus, near the library. It is open to every UP Cebu student who wished to play and/or practice all kinds of sports.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:49%;left:56%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='CEBU CULTURAL CENTER'; description='Currently not available for use. For more info call 0917 624 8144'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:22%;left:67.8%; height:1px, width:1px" data-effect="st-effect-1" 
            ng-click="photo = 'images/floorplans/AS/AS 1ST FLR LEFT.png';
            Title='ARTS AND SCIENCES BUILDING'; description='The Arts and Sciences Building is located at the eastern side of the UP Cebu Lahug Campus near the parking lot. It is where the Computer Science, Business Management, and Physical Education department faculties and Office of the Social Sciences Cluster are situated. The UP Press Bookstore and AS Lobby are also found in this building.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>

          <div class="cd-popup-trigger">
            <button class="map-point" style="top:43%;left:75.8%; height:1px, width:1px" data-effect="st-effect-1" ng-click="Title='ARTS  AND  SCIENCES FIELD'; description='The AS Field is located at the eastern side of the UP Cebu Lahug Campus beside the UP High and AS Building. It is open to every UP Cebu student who wished to play and/or practice all kinds of sports.'">
              <img id = "image1" src="images/pin.png" width="50" height="50" style="bottom:10px;right:25px">
            </button>
          </div>
      </div>
      </div>

      <div class="margin-div"  >
        <button class="button button5" onclick=newDoc()>H O M E</button>
        <button class="button button1">R E S E T</button>
      </div>

      <div class="cd-popup" style="position: fixed;left: 0;top: 0;">
        <div class="cd-popup-container">
          <h2 ng-bind="Title"></h2>
          <p><strong>Description:</strong></p>
          <p ng-bind="description"></p>
          <li style="position: fixed; bottom:10%; ">
            <button id = "flrpln" style="width: 100%">Floor Plans</button>
            <button style="width: 100%" href="https://www.youtube.com/watch?v=CcNo07Xp8aQ">Videos</button>
            <button id = "gllry" style="width: 100%">Photos</button>
          </li>
          <a href="#0" class="cd-popup-close img-replace"></a>
        </div> <!-- cd-popup-container -->
      </div>

      <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" style="height:90%">
        <div class="modal-header">
          <span class="close">×</span>
          <h2>Floor Plan</h2>
        </div>

        <div ng-if="Title=='UNDERGRADUATE BUILDING' || Title=='MANAGEMENT BUILDING' || Title=='ARTS AND SCIENCES BUILDING' || Title=='ADMINISTRATION BUILDING'" class="modal-body"> <!-- Show Floorplans for buildings that have at least one. -->

            
            <!-- ARTS & SCIENCES BUILDING -->
            <div ng-if="Title=='ARTS AND SCIENCES BUILDING'">
              <div class="fp-content fp-display-container" style="max-width:1200px" >
              <img src={{photo}} style="width:100%" >
            </div>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/AS/AS 1ST FLR LEFT.png'">L1</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/AS/AS 1ST FLR RIGHT.png'">R1</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/AS/AS 2ND FLR LEFT.png'">L2</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/AS/AS 2ND FLR RIGHT.png'">R2</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/AS/AS DCS 3RD FLR.png'">R3</button>

            </div>
            <!-- UNDERGRADUATE BUILDING -->
            <div ng-if="Title=='UNDERGRADUATE BUILDING'">
              <div class="fp-content fp-display-container" style="max-width:1200px" >
              <img src={{photo}} style="width:100%" >
            </div>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/L1.png'">L1</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/R1.png'">R1</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/L2.png'">L2</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/L1.png'">R2</button>
            </div>
            <!-- MANAGEMENT BUILDING -->
            <div ng-if="Title=='MANAGEMENT BUILDING'">
              <div class="fp-content fp-display-container" style="max-width:1200px" >
              <img src={{photo}} style="width:100%" >
            </div>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/L1.png'">B1</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/R1.png'">B2</button>
            </div>
            <!-- ADMINISTRATION BUILDING -->
            <div ng-if="Title=='ADMINISTRATION BUILDING'">
              <div class="fp-content fp-display-container" style="max-width:1200px" >
              <img src={{photo}} style="width:100%" >
            </div>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/ADMIN/ADMIN 1ST FLR.png'">F1</button>
              <button class="fp-btn show" ng-click="photo = 'images/floorplans/ADMIN/ADMIN 2ND FLR.png'">F2</button>
            </div>
                
                
             <!--  <button class="fp-btn show" onclick="currentDiv(1)">1</button>
              <button class="fp-btn show" onclick="currentDiv(2)">2</button>
              <button class="fp-btn show" onclick="currentDiv(3)">3</button> -->
              <!-- <button class="fp-btn show" onclick="currentDiv(4)">4</button> -->
          </div>
          <div class="modal-footer">
          </div>
        </div>
       </div>
      </div>



<!--       GALLERY MODAL -->

 <!-- <div id="myModal1" class="modal" >


      <div class="modal-content" style="height:85%">
        <div class="modal-header">
          <span class="close">×</span>
          <h2>Gallery</h2>
        </div>

        <div class="modal-body">

          <div class="fp-content fp-display-container" style="max-width:1200px">
          <img class="gallerySlideshow" src="{{GLoc1}}" style="width:100%">
          <img class="gallerySlideshow" src="{{GLoc2}}" style="width:100%">
          <img class="gallerySlideshow" src="{{GLoc3}}" style="width:100%">
          <img class="gallerySlideshow" src="{{GLoc4}}" style="width:100%">
          <img class="gallerySlideshow" src="{{GLoc5}}" style="width:100%">
        
          <div class="fp-center">
            <div class="fp-section">
              <button class="fp-btn" onclick="plusDivs(-1)">❮</button>
              <button class="fp-btn" onclick="plusDivs(1)">❯</button>
            </div id="counter"> 

            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>

      </div> -->
    </section>

    <script>

        // Get the modal
        var modal = document.getElementById('myModal');
        // var modal1 = document.getElementById('myModal1');
        // Get the button that opens the modal
        var btn = document.getElementById("flrpln");
        // var btn1 = document.getElementById("gllry");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // var span1 = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // btn1.onclick = function() {
        //     modal1.style.display = "block";
        // }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // span1.onclick = function() {
        //     modal1.style.display = "none";
        // }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            // if (event.target == modal1) {
            //     modal1.style.display = "none";
            // }
        }

        function newDoc() {
            window.location.assign("/")
        }

        (function() {
          $('.distribution-map button').on('mousedown touchstart', function( e ) {
              e.stopImmediatePropagation();
          });

          $('.button button5').on('mousedown touchstart', function( e ) {
              e.stopImmediatePropagation();
          });

          $('.button button1').on('mousedown touchstart', function( e ) {
              e.stopImmediatePropagation();
          });

          var $section = $('#st-container');
          var $panzoom = $section.find('.containerz').panzoom({
             $reset: $(".button1"),
          });
          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            $panzoom.panzoom('zoom', zoomOut, {
              animate: false,
              panOnlyWhenZoomed: true,
              focal: e
            });
           
          });



          $('.distribution-map').on('mousedown touchstart', function( e ) {
              e.originalEvent();
          });

          })();

      </script>

      <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function currentDiv(n) {
        showDivs(slideIndex = n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("floorplanSlideshow");
        var dots = document.getElementsByClassName("show");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
           dots[i].className = dots[i].className.replace(" fp-green", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " fp-green";
      }
      </script>
<!-- 
      <script>
      function callCounter(ctr){
      var i;
      var output1;
      for(i=1; i<=ctr; i++){
        return output1;
      }
     }
       </script>
 -->
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </body>
</html>
